@model List<AppUI.Models.ParticipantEventDetails>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<html>
<head>
    <title>Participants</title>
</head>
<body>
    <h2>All Participants</h2>
    <a asp-route="AddParticipant">Add New Participant</a>
    <table border="1">
        <thead>
            <tr>
                <th>Email</th>
                <th>Event ID</th>
                <th>Is Attended</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model)
            {
                <tr>
                    <td>@p.ParticipantEmailId</td>
                    <td>@p.EventId</td>
                    <td>@p.IsAttended</td>
                    <td>
                        <a asp-route="UpdateParticipant" asp-route-id="@p.Id">Edit</a> |
                        <a asp-route="DeleteParticipant" asp-route-id="@p.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
