@model List<CaseStudy3.Models.Book>

@{
    ViewData["Title"] = "Book List";
}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />


<h2>Book List</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>ISBN</th>
            <th>Book Name</th>
            <th>Author Name</th>
            <th>Published Date</th>
            <th>Book URL</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Isbn</td>
                <td>@book.BookName</td>
                <td>@book.AuthorName</td>
                <td>@book.PublishedDate.ToShortDateString()</td>
                <td><a href="@book.BookUrl" target="_blank">View</a></td>
            </tr>
        }
    </tbody>
</table>

